<!doctype html>
<html lang="zh">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <meta charset="utf-8" />
     <title>{{ title }}</title>
</head>
<body>
    <h2 id="ch2">{{ title }}</h2>
    
    {% if header_image|length %}
    <div class="center">
        <br>
        <img src="{{ header_image }}" width="75" alt="----------">
    </div>
    {% endif %}


    {% if subtitle is defined %}
    <h5>{{ subtitle }}</h5>
    {% endif %}

    {% if head_quote is defined %}
    <blockquote>
        <p>{{ head_quote }}</p>
    </blockquote>
    {% endif %}

    {{ content }}
    
    <mbp:pagebreak />
</body>
</html>